@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background-primary: 248 248 251;
		--background-secondary: 255 255 255;
		--text: 12 14 22;
		--text-secondary: 126 136 195;
		--paid: 51 214 159;
		--pending: 255 143 0;
		--draft: 223 227 250;
		--accent: 124 93 250;
		--alert: 236 87 87;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background-primary: 20 22 37;
		--background-secondary: 30 33 57;
		--text: 255 255 255;
		--text-secondary: 223 227 250;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgba(var(--background-primary));
}

::-webkit-scrollbar-thumb {
	background-color: rgba(var(--background-secondary));
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(var(--background-secondary) / 0.6);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0 50px rgba(var(--background-secondary)) inset;
	-webkit-text-fill-color: rgba(var(--text));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

